.navbar {
    background: rgb(3, 3, 119);
    color: #fff;
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: 0 10px 20px grey;
    font-size: 35px;
    font-weight: bold;
}

li {
    padding-left: 5%;
    padding-right: 5%;
}