.navbar {
    background: rgb(3, 3, 119);
    color: #fff;
    height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 10px 20px grey;
    font-size: 35px;
    font-weight: bold;
}

a {
    color: white;
}
li {
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: black 0 5px 5px;
}